main {
    max-width: 840px;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(000/0.2);
    /* 1 */
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 150px;
    height: auto;
}

p {
    padding: 0
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}