* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #0f3884;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #000;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: #135
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

main img {
    width: 15em;
    height: 20em;
    border: #eee;
    padding: 1rem;
    box-shadow: 10px 10px;
}

main img {
    /* you most likely will have other CSS declarations here */
    float: right;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid #999;
    padding: 1rem;
    background-color: hsl(0, 33%, 71%);
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0
}

header,
footer {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}