nav {
    background-color: #eee;
    padding: 1rem;
}

nav a {
    color: #000;
    padding: 1rem;
    display: right;

}

main {
    max-width: 840px;
}

h1 {
    color: #135
}

main img {
    width: 15em;
    height: 20em;
    border: #eee;
    padding: 1rem;
    box-shadow: #999;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(000/0.2);
    /* 1 */
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 150px;
    height: auto;
}

p {
    padding: 0
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}