nav {
    background-color: #eee;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #000;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;/% shorthand for white %/
}

h1 {
    color: #135
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

main img {
    width: 15em;
    height: 20em;
    border: #eee;
    padding: 1rem;
    box-shadow: 10px 10px;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid #999;
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0
}

header,
footer {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}